.layout {
    width:30%;
    border: none;
    padding: 2%;
    margin-left: 35%;
    margin-top: 8%;
    border: 1px solid black;
}
input.form-control{
    border:none;
    border-bottom: 2px solid cornflowerblue;
}
hr{
    border: 3px solid cornflowerblue;
}
