.layout {
    width:30%;
    border: none;
    padding: 2%;
    margin-left: 35%;
    margin-top: 8%;
    border: 1px solid rgba(0, 0, 0, 0.678);
    border-radius: 5px;
    background-color: rgba(8, 32, 99, 0.637);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.378);
    
}
input.form-control{
    border:none;
    border-bottom: 2px solid cornflowerblue;
}
h5{
    color: lavender;

}
.btn-info{
    background-color: white;
    color:lavender;
}