h2{
    margin:20px auto;
    display: block;
}
.card{
    border-radius: 15px;
    color: white;
    box-shadow: 1px 1px 6px 1px black;
}
.card-body{
    height: 150px;
    width: 100%;
    text-align: center;
}
.col{
    cursor: pointer;
}
.row{
    margin-top:20px;
}
.container{
    margin:70px auto 0 auto;
    padding: 0;
}