.sendForm{
    margin: 40px auto;
    display: block;
}
input{
    width:500px;
    height: 40px;
    padding: 5px;
    margin: 10px;
}
button{
    width:70px;
    height:40px;
    border: none;
    background: cornflowerblue;
    color:white;
    border-radius:5px;
}